*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: white;
background-color: black;
list-style: none;
text-decoration: none;
font-size: 20px;
}

a:hover{
color: rgb(82, 66, 188);
font-size: 24px;
}

.header-image{
    width: 100px;
}

.product-image{
width: 200px;
height: 200px;
}

.header-site{
display: flex;
height: 80px;
justify-content: space-between;
align-items: center;
padding: 20px;
border-bottom: 1px solid white;
}

.header-title{
    font-size:35px;
}

.nav-list{
display: flex;
flex-direction: row;
justify-content: space-between;
border-bottom: 1px solid white;
}

.nav-li{
padding: 25px 30px;
}

.main-page{
display: flex;
flex: 1;
gap: 40px;
border-top: 1px solid white;
}

.aside-page{
width: 350px;
border-right: 1px solid white;
}

.aside-list{
    display: flex;
    flex-direction: column;
    margin: 30px;
    gap: 50px;
}

.shop-section{
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 50px;
margin: 30px;
}

.product-card{
display: flex;
flex-direction: column;
border: 1px solid white;
border-radius: 3px;
}

.product-info{
border-top: 1px solid white;
padding: 20px;
text-align: center;
}

.product-price{
font-size: 26px;
padding-top: 10px;
}

.footer-site{
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    gap: 40px;
    border-top: 1px solid white;
}

.footer-section{
flex: 1;
padding: 10px;
padding-left: 30px;
min-width: 160px;
}

.footer-title{
margin-bottom: 23px;
}

.footer-text{
font-size: 15px;
padding: 15px 0px;
}

.footer-li{
font-size: 15px;
padding: 6px;
}